@charset "UTF-8";

ul, li {
	list-style-type: none;
	text-align: center;
}

a {
	text-decoration: none;
	color: inherit; /* 링크의 색상 제거 */
}

.c1 {
	width: 1200px;
	height: 100px;
	margin: auto;
}

.nav-link {
	color: black;
}



.category-btn {
	position: absolute;
	width: 110px;
	height: 20px;
	margin-top: 15px;
	margin-right: 30px;
	background-position: 0 0;
	text-align: center;
}

.category-btn>a {
	display: block;
	margin-top: 73px;
	color: #fff;
	font-size: 13px;
}

.category-btn:hover .category-layer {
	display: block;
}

.category-layer {
	position: absolute;
	width: auto;
	height: auto;
	min-height: 400px;
	display: none;
	border: 1px solid #ddd;
	box-shadow: -1px 4px 5px rgba(0, 0, 0, 0.3);
	z-index: 3;
	background: #fff;
	text-align: left;
}

.category-layer li {
	height: 29px;
}

.category-layer a {
	display: inline-block;
	height: 20px;
	color: #333;
	font-size: 12px;
}

.category-layer a:hover {
	color: #4285f4;
	text-decoration: underline;
}

.category-layer .menu>li>a {
	position: relative;
	width: 114px;
	white-space: nowrap;
}

.category-layer .shopping-menu-list {
	padding: 8px 0 5px 0;
	border-bottom: #ddd solid 1px;
}

.category-layer .menu>li.hover>a {
	color: #4285f4;
}

.category-layer .menu>li.hover .depth {
	display: block;
	width: 591px;
	height: 100%;
	overflow: hidden;
}

.category-layer .second-depth-list.hover .third-depth-list {
	display: block;
}

.category-layer .fashion-sundries>a:hover, .category-layer .theme-store>a:hover,
	.category-layer .travel-leisure>a:hover {
	text-decoration: none;
	cursor: pointer;
}

.category-layer .depth {
	height: 100%;
	min-height: 450px;
	background-image: none;
	background-color: #fff;
	margin: -1px 0 0 0;
	padding-right: 0;
	border: 1px solid #ddd;
	box-shadow: 2px 4px 5px rgba(0, 0, 0, 0.3);
	left: 163px;
	display: none;
	position: absolute;
	z-index: 2;
	top: 0;
}

.col-title {
	width: 120px;
	height: 40px;
	margin-top: 30px;
	font: Noto Sans KR;
	font-size: 24px;
	color: #333;
}

.col-contents {
	width: 1100px;
	height: 400px;
}

.col-customer {
	margin-top: 20px;
}

.customer-h2 {
	margin-bottom: 8px;
	font-size: 20px;
	font-weight: 700;
	color: #333;
}

.all-event-check{
	width: 40px;
	border: solid #e4e4e4;
	border-width: 0 1px 1px 0;
	padding: 7px 10px 7px 15px;
	font-weight: 700;
	text-align: center;
	background: #f4f4f4;
}
.event-check{
	width: 40px;
	border: solid #e4e4e4;
	border-width: 0 1px 1px 0;
	padding: 7px 10px 7px 15px;
	font-weight: 700;
	text-align: center;
	background: #f4f4f4;
}
.td-image{
	border-bottom: 1px solid #e4e4e4;
	padding: 10px 16px;
	text-align: center;
}
.td-productInfo{
	border-bottom: 1px solid #e4e4e4;
	padding: 10px 16px;
	text-align: center;
}

.product-name {
	text-align: left;
    font-weight: 700;
    font-size: 14px;
    border-bottom: 1px solid #e2e5e7;
    padding-bottom: 5px;
    
}

.option-price{
	color: #888;
    float: right;
    font-size: 12px;
    line-height: 24px;
    margin-right: 15px;
}

.option-select{
    float: right;
    font-size: 12px;
}

.cart-price{
	margin-top: 10px;
}

.prod-quantity__plus{
	border: 1px solid #ddd;;
	background-color: #fff;
}
.prod-quantity__minus{
	border: 1px solid #ddd;;
	background-color: #fff;
}
.prod-quantity__input{
	border: 1px solid #ddd;;
	
	text-align: center;
}


.td-price{
	border-bottom: 1px solid #e4e4e4;
	padding: 10px 16px;
	text-align: center;
}
.td-quantity{
	border-bottom: 1px solid #e4e4e4;
	padding: 10px 16px;
	text-align: center;
}
.td-shipping{
	border-bottom: 1px solid #e4e4e4;
	padding: 10px 16px;
	text-align: center;
}
.td-total{
	border-bottom: 1px solid #e4e4e4;
	padding: 10px 16px;
	text-align: center;
}
.td-delete{
	border-bottom: 1px solid #e4e4e4;
	padding: 10px 16px;
	text-align: center;
}
.customer-td2 {
	border-bottom: 1px solid #e4e4e4;
	padding: 10px 16px;
}

.customer-table {
	width: 100%;
	border-top: 2px solid #cecece;
}

.cart-total-price {
    border: 1px solid black;
    text-align: center;
    margin-top: 30px;
}

.col-price{
	margin : 10px 20px 0px 78px;
	width : 110px;
	height : 20px;
}
.col-shipping{
	margin : 10px 154px 0px 200px;
	width : 110px;
	height : 20px;
}
.col-sale{
	margin : 10px 20px 0px 78px;
	width : 110px;
	height : 20px;
}
.col-total{
	margin : 10px 20px 0px 78px;
	width : 110px;
	height : 20px;
}