@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');

*{margin: 0; padding: 0; list-style: none; box-sizing: border-box; font-family: 'Inter', sans-serif; font-weight: 400;}
body{position: relative;}

.search-icon {
      color: gray;
      background-color: transparent;
      border: none;
}

.pagination {
  background-color: transparent; /* 배경색 */
  color: black; /* 텍스트 색상 */
}