@charset "UTF-8";
ul, li {
	list-style-type: none;
	text-align: center
}

a {
	text-decoration: none;
	color: inherit; /* 링크의 색상 제거 */
}

.baby-product-link:hover .col-ex {
	color: #0073e9;
	text-decoration: underline;
}

.baby-product-link {
	display: block;
	border: 1px solid transparent;
	box-sizing: border-box;
}

.shopping-menu-list li a:hover {
	text-decoration: none;
}

.banner-a {
	width: 100%;
}

.banner-img {
	width: 100%;
	height: 400px;
}

.category-head {
	height: 40px;
	background-color: #fafafa;
	border-top: 1px solid #BFBFBF;
	border-bottom: 1px solid #BFBFBF
}
.search-header-content{
	width: 1200px;
	margin: 0 auto;
}
.category-box{
	width: 90px;
}
.category-btn {
	width: 88px;
	height: 20px;
	font-size: 14px;
	margin: 10px 0;
}
.categories{
	
}
.level1{
	cursor: pointer;
	position: absolute;
    width: 100px;
    height: auto;
    top: 139px;
    display: none;
    border: 1px solid #ddd;
    box-shadow: -1px 4px 5px rgba(0,0,0,0.3);
    z-index: 1;
    background: #fff;
    text-align: left;
}
.level2{
	cursor: pointer;
	width: 100px;
    background-color: #fff;
    margin: -1px 0 0 0;
    padding-right: 0;
    border: 1px solid #ddd;
    box-shadow: 2px 4px 5px rgba(0,0,0,0.3);
    left: 210px;
    display: none;
    position: absolute;
    z-index: 2;
    top: 140px;
 

}
.level3{
	width: 100px;
    min-height: 450px;
    background-color: #fff;
    margin: -1px 0 0 0;
    padding-right: 0;
    border: 1px solid #ddd;
    box-shadow: 2px 4px 5px rgba(0,0,0,0.3);
    left: 200px;
    display: none;
    position: absolute;
    z-index: 3;
    top: 139px;

}
.shopping-menu-list{
	padding: 8px 0 5px 0;
}
.li-list{
	padding: 10px 0 10px 0;
}

.c1 {
	width: 1200px;
	height: 100px;
}

.r1 {
	margin-top: 17px;
}

.r2 {
	margin-top: 12px;
}

.r3 {
	margin-top: 10px;
	width: 210px;
}

.row-radius {
	border-radius: 10%;
}

.col-name {
	width: 80px;
	height: 40px;
}

.col-ex {
	height: 50px; /* 텍스트 영역의 높이를 지정합니다. */
	display: -webkit-box; /* Webkit 기반 브라우저에서 사용하는 flexbox 컨테이너로 설정합니다. */
	-webkit-line-clamp: 2; /* 텍스트를 2줄로 제한합니다. */
	-webkit-box-orient: vertical; /* 텍스트를 세로 방향으로 정렬합니다. */
	text-overflow: ellipsis;
	overflow: hidden; /* 텍스트를 넘치는 부분을 숨깁니다. */
}

.col-won1 {
	width: 110px;
	height: 30px;
	font-size: 18px;
	margin-top: 16px;
}

.col-won2 {
	width: 100px;
	height: 30px;
	color: #BFBFBF;
	margin-top: 16px;
}

.col-a {
	width: 306px;
	border-bottom: 1px solid #ddd;
}

.banner {
	width: 1200px;
	height: 350px;
	margin-bottom: 44px
}

.col-ca {
	width: 1224px;
	margin-bottom: 20px;
}

.Image {
	margin-bottom: 44px;
}

.img-rounded {
	border-radius: 2%;
}

.col-review {
	width: 120px;
	height: 35px;
	margin-top: 20px;
	font-size: 24px;
}

.pagination {
	display: flex;
	justify-content: center;
	margin-bottom: 50px;
}

.jOhOoP>* {
	margin: 20px 5px 0px;
}

.current-page {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 35px;
	padding-left: 12px;
	padding-right: 12px;
	height: 2.5rem;
	color: #FFFFFF;
	background: #FF6462;
	border: 1px solid rgb(221, 221, 221);
	ㅇ font-size: 0.875rem;
}

.previous-button {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 80px;
	padding-left: 12px;
	padding-right: 12px;
	height: 2.5rem;
	border-radius: 4px;
	color: #FFFFFF;
	background: #FF6462;
	border: 1px solid rgb(221, 221, 221);
	ㅇ font-size: 0.875rem;
}

.next-button {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 80px;
	padding-left: 12px;
	padding-right: 12px;
	height: 2.5rem;
	border-radius: 4px;
	color: #FFFFFF;
	background: #FF6462;
	border: 1px solid rgb(221, 221, 221);
	ㅇ font-size: 0.875rem;
}