
@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');
/* @import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;400&display=swap'); */

*{margin: 0; padding: 0; list-style: none; font-family: 'Inter', sans-serif; font-weight: 400;}
body{position: relative;}
a{text-decoration: none; color: black;}
.section{width: 1200px; margin: 0 auto; margin-top: 50px;}
.section2{width: 1000px; margin: 0 auto;}
.hide{display: none;}

div#rewardModal{padding: 30px; border-radius: 15px; width: 700px; height: 850px; margin-left: -350px; margin-top: -425px; overflow-y: scroll; background-color: white; z-index: 15; position: fixed; top: 50%; left: 50%;}
div#rewardModal::-webkit-scrollbar{width: 0;}
div#rewardModal::-webkit-scrollbar-thumb{background-color: #e4e4e4; border-radius: 10px;}
div#rewardModal::-webkit-scrollbar-track{background-color: white;}

div#rewardModal>ul{padding: 0; width: 100%; }
div#rewardModal>ul:first-of-type{width: 100%; position: absolute; top: 0; left: 0; background-color: white; height: 60px;}
div#rewardModal>ul:first-of-type>li{ font-size: 15px; line-height: 17px; font-weight: bold; color: #333333; float: right; margin-right: 20px; margin-top: 15px;}
div#rewardModal>ul:first-of-type>li:first-child{cursor: pointer;}
div#rewardModal>ul:first-of-type>li:last-child{float: left; font-size: 25px; margin-top: 30px; margin-left: 25px;}

div#rewardModal>ul:last-of-type{width: 100%; margin-top: 40px;}
div#rewardModal>ul:last-of-type>li{width: 50%; font-size: 14px; color: #333333; position: relative; margin-bottom: 20px;}
div#rewardModal>ul:last-of-type>li#stockMax, div#rewardModal>ul:last-of-type>li#buyCount, div#rewardModal>ul:last-of-type>li#start, 
div#rewardModal>ul:last-of-type>li#closeAt, div#rewardModal>ul:last-of-type>li#deliveryFromReward, div#rewardModal>ul:last-of-type>li#delivery
{float: left; width: 310px; margin-right: 18px;}

div#rewardModal>ul:last-of-type>li#buyCount, div#rewardModal>ul:last-of-type>li#closeAt, div#rewardModal>ul:last-of-type>li#deliveryFromReward{margin-right: 0;}

div#rewardModal>ul:last-of-type>li#deliveryFromReward{width: 310px;}

div#rewardModal>ul:last-of-type>li>span:first-of-type{display: block; margin-bottom: 4px;}
div#rewardModal>ul:last-of-type>li>input{width: 100%; height: 40px; padding: 0 10px; border: 1px solid #bfbfbf; border-radius: 5px;}
div#rewardModal>ul:last-of-type>li>span.inputInner{position: absolute; bottom: 9px; right: 10px;}

div#rewardModal>ul:last-of-type>li:nth-child(2), div#rewardModal>ul:last-of-type>li:nth-child(3){width: 100%;}

div#rewardModal>ul:last-of-type>li#itemList{width: 100%;}
div#rewardModal>ul:last-of-type>li#itemList>ul{padding: 0; }
div#rewardModal>ul:last-of-type>li#itemList>ul>li{height: 100%; height: 40px; margin-bottom: 10px;}
div#rewardModal>ul:last-of-type>li#itemList>ul>li>input{padding: 0 10px; font-size: 14px; width: 500px; height: 100%; border: 1px solid #bfbfbf; border-radius: 5px; margin-right: 6px;}
div#rewardModal>ul:last-of-type>li#itemList>ul>li>input:last-of-type{width: 130px; margin-right: 0;}

div#rewardModal>ul:last-of-type>li#delivery>span.inputInner{bottom: 49px;}
div#rewardModal>ul:last-of-type>li#delivery>p{font-size: 12px; color: #999999; margin-top: 5px;}


div#rewardModal>ul:last-of-type>li#closeAt{margin-bottom: 45px;} 

div#rewardModal>ul:last-of-type>li:last-child{width: 100%; height: 40px; margin-bottom: 0;}
div#rewardModal>ul:last-of-type>li:last-child>span{cursor: pointer; text-align: center; border-radius: 5px; line-height: 40px; display: inline-block; width: 315px; height: 100%; margin: 0; border: 1px solid #bfbfbf; margin-right: 6px;}
div#rewardModal>ul:last-of-type>li:last-child>span:last-of-type{margin-right: 0; border: 1px solid #FF6462; font-weight: bold; color: white; background-color: #FF6462;}

div#modalBg{position: fixed; top: 0; left: 0; z-index: 10; width: 100%; height: 100%; background-color: black; opacity: 0.5;}

.info{text-align: left; margin-bottom: 200px;}
#pageName{width: 100%; margin-bottom: 40px; text-align: center;}
#pageName>h3, #pageName>h3>span{font-size: 28px; height: 30px; line-height: 30px; margin-bottom: 12px; font-weight: bold; color: #333333;}
#pageName>p{font-size: 17px; height: 18px; line-height: 18px; color: #666666; margin-bottom: 0;}

#formBox{width: 100%;}
#formBox>form>div{width: 100%; border-bottom: 1px solid #dadada; margin-bottom: 40px;}
#formBox>form>div:last-of-type{border-bottom: none;}
#formBox>form>div>h5{font-size: 20px; height: 22px; line-height: 22px; font-weight: bold; color: #333333; margin-bottom: 20px;}
#formBox>form>div>p{font-size: 13px; line-height: 15px;}
#formBox>form>div>div{width: 550px; float: left;}
#formBox>form>div>div:nth-of-type(2n){margin-left: 100px;}
#formBox>form>div>div>label{display: block; font-size: 15px; height: 17px; line-height: 17px; font-weight: bold; color: #333333;}
#formBox>form>div>div>p.desc{font-size: 12px; line-height: 15px; color: #999999; margin-top: 5px; margin-bottom: 0;}

#projectInfo{height: 240px;}
#creatorType>ul{padding: 0; width: 100%; height: 40px; margin-top: 10px;}
#creatorType>ul:first-of-type>li{cursor: pointer; font-size: 15px; font-weight: bold; float: left; width: 270px; text-align: center; height: 100%; margin-right: 10px; border-radius: 5px; border: 1px solid #bfbfbf; line-height: 40px;}
#creatorType>ul:first-of-type>li.checked{border: 1px solid #FF6462; color: #FF6462; }
#creatorType>ul:first-of-type>li:last-child{margin-right: 0;}

#creatorType>ul:last-of-type{width: 100%; height: auto;}
#creatorType>ul:last-of-type>li:first-child{width: 100%; font-size: 14px; margin-bottom: 5px;}
#creatorType>ul:last-of-type>li:last-child{width: 100%; height: 40px;}
#creatorType>ul:last-of-type>li:last-child>input[type=text]{border: 1px solid #bfbfbf; border-radius: 5px; font-size: 14px; width: 100%; height: 100%; padding: 0 16px;}

#targetPrice>#targetPriceBox{margin-top: 10px; position: relative;}
#targetPrice>#targetPriceBox>input[type=text]{padding: 0 16px; font-size: 14px; width: 100%; height: 40px; border: 1px solid #bfbfbf; border-radius: 5px;}
#targetPrice>#targetPriceBox>span{font-size: 14px; position: absolute; top: 9px; right: 16px; color: #999999;}

#basicInfo{height: 530px;}
#formBox>form>div>div#category{margin-bottom: 20px;}
#category>label{display: block;}
#category>select{margin-top: 10px; font-size: 14px; width: 550px; height: 40px; padding: 0 16px; border-radius: 5px; border: 1px solid #bfbfbf;}
#category>select>option:first-child{color: #bfbfbf; height: 40px;}

#formBox>form>div>div#fundingTitle>label{margin-bottom: 10px;}
#formBox>form>div>div#fundingTitle>input[type=text]{border: 1px solid #bfbfbf; border-radius: 5px; width: 100%; height: 40px; font-size: 14px; padding: 0 16px;}
#formBox>form>div>div#fundingTitle>span{font-size: 12px; margin-top: 4px; color: #999999;}

#mainImg{margin-top: 20px; margin-bottom: 22px;}
#mainImg>#mainThumnailBox>ul{padding: 0; margin-top: 10px;}
#mainImg>#mainThumnailBox>ul>li{font-size: 12px; height: 15px; line-height: 15px; color: #999999;}
#mainImg>#mainThumnailBox>ul>li:last-child{font-size: 14px; height: 16px; line-height: 16px; margin-top: 10px; color: #999999;}
#mainImg>#mainThumnailBox>input[type=file]{font-size: 13px; }

#adultAuth{margin-top: 17px; margin-bottom: 42px;}
#adultAuth>#targetPriceBox{margin-top: 24px; width: 100%; height: 50px; padding: 15px; background-color: #f9fafb;}
#adultAuth>#targetPriceBox>input{font-size: 14px; margin-right: 7px;}
#adultAuth>#targetPriceBox>span{font-size: 13px; display: inline-block; line-height: 13px;}

#tags>input[type=text]{margin-top: 10px; width: 100%; height: 40px; padding: 0 16px; font-size: 14px; border-radius: 5px; border: 1px solid #bfbfbf;}
#tags>span{margin-left: 5px; font-size: 14px; color: #999999; margin-top: 5px; display: inline-block;}
#tags>#insertTagList{height: 30px; padding: 0; margin-top: 10px;}
#tags>#insertTagList>li{height: 100%; border-radius: 3px; background-color: #d6d6d6; margin-right: 5px; line-height: 30px; padding: 0 10px; color: #666666; float: left; font-size: 13px;}
#tags>#insertTagList>li>span{margin-left: 5px;}

#deliveryFrom>input[type=date]{margin-top: 10px; width: 100%; height: 40px; padding: 0 16px; font-size: 14px; border-radius: 5px; border: 1px solid #bfbfbf;}

#storyWrite{height: 530px; }
#detailImg{margin-bottom: 25px;}
#detailImg>#detailThumnailBox>ul{padding: 0; margin-top: 10px;}
#detailImg>#detailThumnailBox>ul>li{font-size: 12px; height: 15px; line-height: 15px; color: #999999;}
#detailImg>#detailThumnailBox>input[type=file]{font-size: 13px; }

#fundingDesc>textarea{resize: none; width: 100%; height: 100px; margin-top: 10px; padding: 10px; font-size: 14px; line-height: 16px; border-radius: 5px; border: 1px solid #bfbfbf;}
#fundingDesc>span{font-size: 12px; margin-left: 5PX; color: #999999; display: inline-block;}

#formBox>form>div>div#fundingContents{margin-top: 10px; width: 100%; }
#fundingContents>textarea{resize: none; overflow-y: scroll; border-radius: 5px; border: 1px solid #bfbfbf; margin-top: 10px; width: 100%; height: 200px; padding: 10px; font-size: 14px;}

#rewardPlan{height: 540px; }
#rewardPlan>#rewardRegisterBtn{cursor: pointer; padding: 6px; text-align: center; width: 110px; height: 40px; border: 1px solid #bfbfbf; border-radius: 5px;}
#rewardPlan>#rewardRegisterBtn>span{font-size: 13px; }
#rewardPlan>#rewardRegisterBtn>span:first-of-type{font-size: 16px;}

#formBox>form>div>div#rewardList{display: flex; flex-wrap: wrap; margin: 20px 0px 30px 0; width: 100%; height: auto; }
#rewardList>.reward{border: 1px solid #bfbfbf; border-radius: 5px; width: 390px; margin-right: 15px; padding: 0;}
#rewardList>.reward:nth-of-type(3n){margin-right: 0;}

#creatorInfo{height: 375px;}
#cInfo>p{font-size: 14px; height: 16px; line-height: 16px; color: #333333; margin: 20px 0 5px 0;}
#formBox>form>div>div#cInfo>p.desc{margin-bottom: 10px;}
#cInfo>input{width: 100%; height: 40px; padding: 0 10px; font-size: 14px; border: 1px solid #bfbfbf; border-radius: 5px;}

#calculateInfo>select{margin-top: 10px; font-size: 14px; width: 100%; height: 40px; border: 1px solid #bfbfbf; border-radius: 5px; padding: 0 10px;}
#calculateInfo>input{width: 100%; height: 40px; margin-top: 10px; font-size: 14px; border: 1px solid #bfbfbf; padding: 0 10px; border-radius: 5px;}

#fundingRegisterSubmitBtn{position: fixed; bottom: 30px; right: 60px; width: 140px; height: 50px; border: none; font-weight: bold; border-radius:5px; color:white; font-size: 16px; background-color: #FF6462;}
