@charset "UTF-8";
ul {
            list-style: none;
            padding: 0;
        }

        li {
            padding: 3px 0px;
        }
        .box-size{
        	width:1210px;
        	    padding: 0 47px;
        }

        .col-left {
            width: 160px;
            float: left;
        }

        .my-title {
            width: 150px;
            height: 122px;
            padding: 1px;
            background: rgb(40, 109, 180);
            text-align: center;
            box-sizing: border-box;
            display: flex;
            -webkit-box-pack: center;
            justify-content: center;
            -webkit-box-align: center;
            align-items: center;
        }

        .s-title {
            color: rgb(255, 255, 255);
            text-indent: inherit;
            text-align: center;
            font-size: 32px;
            font-weight: 400;
            letter-spacing: -2px;
        }

        .myMenu {
            width: 150px;
            background-color: rgb(249, 249, 249);
            border-width: 0px 1px 1px;
            border-style: solid;
            border-color: rgb(225, 228, 230);
            border-image: initial;
            color: rgb(17, 17, 17);
            padding: 10px 0px;
        }

        .myMenu-first {
            padding: 15px 10px 16px 17px;
            border-bottom: 1px solid rgb(225, 228, 230);
        }

        .myMenu-title {
            display: block;
            font-weight: bold;
            font-size: 14px;
            line-height: 20px;
            color: rgb(17, 17, 17);
        }

        .myMenu-content {
            font-size: 12px;
            line-height: 16px;
            margin-top: 11px;
        }

        .myMenu-last {
            padding: 15px 10px 16px 17px;
        }

        .col-middle {
            width: 840px;
            float: left;
            padding: 0;
        }

        .middle-top {
            width: 830px;
            float: left;
            margin-bottom: 20px;
        }

        .top-box {
            background-color: rgb(130, 188, 226);
            color: rgb(255, 255, 255);
            border-width: 1px 1px 1px 0px;
            border-top-style: solid;
            border-right-style: solid;
            border-bottom-style: solid;
            border-top-color: rgb(119, 174, 209);
            border-right-color: rgb(119, 174, 209);
            border-bottom-color: rgb(119, 174, 209);
            border-image: initial;
            border-left-style: initial;
            border-left-color: initial;
            height: 122px;
            font-weight: 100;
            font-style: normal;
            box-sizing: border-box;
        }

        .middle-contents{
            margin: 0px 0px 0px 30px; 
        }
        .product-List{
            font-size: 15px;
            font-weight: bold;
            margin-bottom: 20px;
        }