<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ssofun.www.maker.mapper.MakerSqlMapper">


	<!-- 창작자 정보 입력 -->
	<insert id="insertUserCreator" parameterType="com.ssofun.dto.UserCreatorDto" keyProperty="user_creator_id">
		INSERT INTO tb_user_creator(user_id,name,email,phone,creator_type,biz_no) 
		VALUES(#{user_id},#{name},#{email},#{phone},#{creator_type},#{biz_no})
		
		<!-- PK 조회를 위한 selectKey -->
		<selectKey keyProperty="user_creator_id" resultType="java.lang.Long" order="AFTER">
		  SELECT LAST_INSERT_ID()
		</selectKey>
	</insert>
	
	<!-- 창작자 은행 정보 입력 -->
	<insert id="insertCreatorBank">
		INSERT INTO tb_user_creator_bank(user_creator_id,bank_type,account_no,account_name)
		VALUES(#{user_creator_id},#{bank_type},#{account_no},#{account_name})
	</insert>
	
	<!-- 태그 정보 입력 -->
	
	<insert id="insertTag" parameterType="com.ssofun.dto.FundingTagDto" keyProperty="funding_tag_id">
		INSERT INTO tb_funding_tag(name) VALUES(#{name})
	
		<!-- PK 조회를 위한 selectKey -->
		<selectKey keyProperty="funding_tag_id" resultType="java.lang.Long" order="AFTER">
		  SELECT LAST_INSERT_ID()
		</selectKey>
	</insert>
	
	<!-- 펀딩 정보 입력 -->
	<!--<insert id="insertFunding" parameterType="com.ssofun.dto.FundingDto" keyProperty="funding_id">
		INSERT INTO tb_funding(funding_category_id,funding_tag_id,user_creator_id,funding_code,title,contents,description,target_price,adult_fg,delivery_from) 
		VALUES(#{funding_category_id},#{funding_tag_id},#{user_creator_id},#{funding_code},#{fundingDto.title},#{fundingDto.contents},#{fundingDto.description},
			#{fundingDto.target_price},#{adult_fg},#{deliveryFrom})
	
		 PK 조회를 위한 selectKey 
		<selectKey keyProperty="funding_id" resultType="java.lang.Long" order="AFTER">
		  SELECT LAST_INSERT_ID()
		</selectKey>
	</insert>-->
	
	<!-- 펀딩 정보 입력 -->
	<insert id="insertFunding">
		INSERT INTO tb_funding(funding_category_id,funding_tag_id,user_creator_id,funding_code,title,contents,description,target_price,adult_fg,delivery_from) 
		VALUES(#{funding_category_id},#{funding_tag_id},#{user_creator_id},#{funding_code},#{title},#{contents},#{description},
			#{target_price},#{adult_fg},#{deliveryFrom})
	</insert>
	
	<!-- 펀딩 코드로 아이디 조회 -->
	<select id="selectFundingIdByCode" resultType="long">
		SELECT funding_id FROM tb_funding WHERE funding_code = #{funding_code}	AND used_fg = 1
	</select>
	
	<!-- 리워드 정보 입력 -->
	<insert id="insertFundingReward" parameterType="com.ssofun.dto.FundingRewardDto" keyProperty="funding_reward_id">
		INSERT INTO tb_funding_reward(funding_id,title,description,price,delivery_price,stock_max,buy_count,start_from,close_at,delivery_from) 
		VALUES(#{funding_id},#{title},#{description},#{price},#{delivery_price},#{stock_max},#{buy_count},#{start_from},#{close_at},#{delivery_from})
		
		<!-- PK 조회를 위한 selectKey -->
		<selectKey keyProperty="funding_reward_id" resultType="java.lang.Long" order="AFTER">
		  SELECT LAST_INSERT_ID()
		</selectKey>
	</insert>
	<!-- <insert id="insertFundingReward" parameterType="com.ssofun.dto.FundingRewardDto" keyProperty="funding_reward_id">
		INSERT INTO tb_funding_reward(funding_id,title,description,price,delivery_price,buy_count,start_from,close_at,delivery_from) 
		VALUES(#{funding_id},#{title},#{description},#{price},#{delivery_price},#{buy_count},#{start_from],#{close_at},#{delivery_from})
		
		PK 조회를 위한 selectKey
		<selectKey keyProperty="funding_reward_id" resultType="java.lang.Long" order="AFTER">
		  SELECT LAST_INSERT_ID()
		</selectKey>
	</insert>-->
	
	<!-- 리워드 아이템 정보 입력 -->
	<insert id="insertFundingRewardItem">
		INSERT INTO tb_funding_reward_item(funding_reward_id,name,count) 
		VALUES(#{funding_reward_id},#{name},#{count})
	</insert>
	
	<!-- 섬네일 입력 -->
	<insert id="insertThumbnail">
		INSERT INTO tb_funding_thumbnail(funding_id,url,image_order) 
		VALUES(#{funding_id},#{url},#{image_order})
	</insert>
	
</mapper>